* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  background: black;
  color: rgb(137, 3, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
}

/* .book-logo {
  margin-left: 80px;
  color: blue;
} */

/* .book-cart {
  margin-right: 80px;
} */

.cart-text {
  margin-top: 80px;
}

.footer {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

img {
  height: 300px;
  width: 300px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  flex: 1;
  overflow-x: hidden;
}

img:hover {
  transform: scale(1.1);
}

.book-image {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  flex: 1;
  margin-top: 50px;
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

a {
  color: white;
  text-decoration: none;
}

button {
  background: black;
  color: hsl(0, 52%, 95%);
  padding: 10px;
  border-radius: 5px;
  width: 145px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  transform: scale(1.1);
}

.cart {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

/* .book-home {
  margin-left: 700px;
} */

.img-poster {
  width: 100%;
  margin-top: 85px;
  height: 350px;
}

.book-details {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

.book-description {
  margin: 0 10px;
  text-align: center;
  align-items: center;
}

.book-img {
  margin: 0 5px;
  margin-top: 50px;
}

.place-order {
  color: green;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 20px;
}

input {
  height: 35px;
  width: 50%;
  display: flex;
  margin-left: 25%;
  border-color: black;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid black;
}

.book-search {
  display: flex;
  margin-bottom: 10px;
}

.cart-button {
  margin-bottom: 180px;
}

/* Media Queries */
@media (max-width: 768px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .cart {
    grid-template-columns: repeat(2, 1fr);
    background: rgb(229, 13, 175);
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .book-list {
    grid-template-columns: 1fr;
  }
  
  
  
  .cart {
    grid-template-columns: 1fr;
  }

  img {
    height: 200px;
    width: 200px;
  }
  
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  
  .navbar a {
    margin-top: 10px;
  }
  
  
  .book-cart {
    margin: 0;
  }
  
  .book-home {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .img-poster {
    margin-top: 50px;
  }
}
