
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

.navbar {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-logo{
  margin-left: 80px;
  color: blue;
  
}
.book-cart{
  margin-right: 80px;
}

.footer {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

img {
  height: 300px;
  width: 300px;
  cursor: pointer;
  transition: all 0.3s ease;

}

img:hover {
  transform: scale(1.1);
}
.book-image{
  box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
    flex: 1;
    overflow-x: hidden;
    /* padding-top: 75px; */
    width: 100%;
}



.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

a {
  color: white;
  text-decoration: none;
}

button {
  background: black;
  color: hsl(0, 52%, 95%);
  padding: 10px;
  border-radius: 5px;
  width: 145px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  transform: scale(1.1);
}

.cart {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

.book-details {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

.book-description {
  margin: 0 10px;
}

.book-img {
  margin: 0 5px;
}

input {
  height: 35px;
  width: 50%;
  display: flex;
  margin-left: 25%;
 border-color: black;
 margin-top: 10px;
 border: none;
 border-bottom: 2px solid black;

}

.book-search {
  display: flex;
  margin-bottom: 10px;
}

.cart-button{
  margin-bottom: 180px;
}

/* Media Queries */
@media (max-width: 768px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .cart {
    grid-template-columns: repeat(2, 1fr);
    background: rgb(229, 13, 175);
  }
}

@media (max-width: 480px) {
  .book-list {
    grid-template-columns: 1fr;
  }

  .cart {
    grid-template-columns: 1fr;
  }

  img {
    height: 200px;
    width: 200px;
  }
}

/* Add more media queries as needed */


